/* Footer Styles */
.footer {
  width: 100%;
  padding: 20px 0; /* Increased padding for better spacing */
  background-color: #057005;
  color: #fff;
}

.footer-content {
  padding: 30px; /* Increased padding for better spacing */
  text-align: center;
  background-color: #76be76;
  color: #d7d4d0;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color change */
}

.footer-content:hover {
  background-color: #68a768; /* Lighter background color on hover */
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .footer-content {
      padding: 15px;
      font-size: 14px;
  }
}

/* Additional Media Queries for Different Screen Sizes */
@media only screen and (max-width: 576px) {
  .footer-content {
      font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-content {
      padding: 25px;
      font-size:1.5rem;
  }
}
